<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.example.code42.alerting.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/{PATH}/Code42Alerting.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.example.code42.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.example.code42.stdout</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/{PATH}/</string>
</dict>
</plist>
